{% import 'macro/errors.htm.twig' as errors %}

{{ errors.errors_page_start(site, '404') }}
<div class="row content">
    <div class="col-sm-5">
        <div class="text-right">
            <img src="http://kdsuneraavinash.000webhostapp.com/images/404.png" class="img-fluid p-3"
                 alt="Error Image"/>
        </div>
    </div>
    <div class="col-sm-7">
        <h1 class="display-2 red-text font-weight-bold">404</h1>
        <h5><strong>OOPS that didn't work.</strong></h5>
        You better head back to our home page.
        <p></p>
        <a href="{{ site }}" class="btn btn-sm btn-outline-dark">Home Page</a>
    </div>
</div>
{{ errors.errors_page_end(site) }}