{% import 'macro/errors.htm.twig' as errors %}

{{ errors.errors_page_start(site, '404') }}
<div class="row content">
    <div class="col-sm-5">
        <div class="text-right">
            <img src="https://st3.depositphotos.com/2951719/14028/v/450/depositphotos_140281514-stock-illustration-broken-green-robot-cartoon-character.jpg"
                 class="img-fluid p-3"
                 alt="Error Image"/>
        </div>
    </div>
    <div class="col-sm-7">
        <h1 class="display-2 red-text font-weight-bold">405</h1>
        <h5><strong>Method not allowed</strong></h5>
        Something went wrong. You better head back to home page.
        <p></p>
        <a href="http://localhost:8000" class="btn btn-sm btn-outline-dark">Home Page</a>
    </div>
</div>
{{ errors.errors_page_end(site) }}