{% import 'macro/errors.htm.twig' as errors %}

{{ errors.errors_page_start(site, 'Unexpected Error') }}
<div class="row content">
    <div class="col-sm-5">
        <div class="text-right">
            <img src="http://4.bp.blogspot.com/-akIdVo_yJec/UkcBfaEqr3I/AAAAAAAASyE/oMVLD5AhdTI/s1600/servicespic.gif"
                 class="img-fluid p-3"
                 alt="Error Image"/>
        </div>
    </div>
    <div class="col-sm-7">
        <h1 class="display-2 red-text font-weight-bold">{{ code }}</h1>
        <h5><strong>Unexpected Error</strong></h5>
        Something went wrong. Please try again...
        <p></p>
        <a href="http://localhost:8000" class="btn btn-sm btn-outline-dark">Home Page</a>
    </div>
</div>
{{ errors.errors_page_end(site) }}