{% macro errors_page_start(site) -%}
    <!doctype html>
    <!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/css/mdb.min.css" rel="stylesheet">
    <link href="{{ site }}/css/error.css" rel="stylesheet">
    <title>404</title>
</head>

<body>
<div class="d-flex justify-content-center">
    <table>
        <tbody>
        <tr>
            <td class="align-middle">
                {%- endmacro %}
                {% macro errors_page_end() -%}
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
{%- endmacro %}