<footer class="bg-white text-center pt-5 pb-0">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-4 text-left mb-5">
                <h1 class="display-3 font-weight-bold mb-2 indigo-text">
                    MediKit
                </h1>
                <small>
                    <strong>MediCo.</strong> ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt ut laoreet dolore agna aliquam erat . wisi enim ad minim veniam, quis tation. sit
                    amet, consec tetuer.ipsum dolor sit amet, consectetuer adipiscing.ipsum dolor sit amet, consectetuer
                    adipiscing elitam nonummy nibh euis
                </small>
                <div class="row text-center">
                    <a class="text-primary p-4" href="javascript:void(0);"><span class="fab fa-facebook"></span> </a>
                    <a class="text-primary p-4" href="javascript:void(0);"><span class="fab fa-twitter"></span> </a>
                    <a class="text-primary p-4" href="javascript:void(0);"><span class="fab fa-linkedin"></span> </a>
                    <a class="text-primary p-4" href="javascript:void(0);"><span class="fab fa-google"></span> </a>
                </div>
            </div>
            <div class="col-lg-4 mb-5 text-left">
                <h4 class="font-weight-bold text-uppercase">Our services</h4>
                <div class="border border-primary mb-3"></div>
                <div class="text-left list-group">
                    <a class="list-group-item" href="#">Emegency Care</a>
                    <a class="list-group-item" href="#">Operation Theater</a>
                    <a class="list-group-item" href="#">Medical Checkup</a>
                    <a class="list-group-item" href="#">Ddiagnostic Center</a>
                </div>
            </div>
            <div class="col-lg-4 mb-5 text-left">
                <h4 class="font-weight-bold text-uppercase">Contact us</h4>
                <div class="border border-primary mb-3"></div>

                <div class="row my-4">
                    <div class="col-3 p-3 text-center">
                        <i class="fa fa-map-marker fa-2x"></i>
                    </div>
                    <div class="col-9">
                        <div class="font-weight-bold text-uppercase">address</div>
                        <small>demo address #8901 Marmora Road Chi
                        Minh City, Vietnam</small>
                    </div>
                </div>

                <div class="row my-4">
                    <div class="col-3 p-3 text-center">
                        <i class="fa fa-phone fa-2x"></i>
                    </div>
                    <div class="col-9">
                        <div class="font-weight-bold text-uppercase">phone</div>
                        <small>0800-123456 (24/7 Support Line)</small>
                    </div>
                </div>

                <div class="row my-4">
                    <div class="col-3 p-3 text-center">
                        <i class="fa fa-envelope fa-2x"></i>
                    </div>
                    <div class="col-9">
                        <div class="font-weight-bold text-uppercase">email</div>
                        <small>info@demo.com</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer bottom part -->
    <div class="bg-dark text-white p-5 mb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center"><span>© copyright 2019  by teampulse. All Rights Reserved.</span>
                </div>
            </div>
        </div>
    </div>
</footer>
