<footer class="bg-white border border-top text-center p-4">
    <!-- Footer Links -->
    <div class="text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3 px-3">
                <!-- Content -->
                <h5>
                    <strong>MediKit 0.0.1 alpha</strong>
                </h5>
                <p class="text-justify">
                    Do you see anyone in here? Do you see a slender plastic tag clipped to my shirt with my
                    name printed on it? Do you see a little Asian child with a blank expression on his face sitting
                    outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what
                    you see at a toy store. And you must think you're in a toy store, because you're here shopping for
                    an infant named Jeb.
                </p>
            </div>
            <!-- Grid column -->
            <hr class="pb-3">

            <div class="col-md-3 mb-md-0 mb-3">
                <!-- Links -->
                <h5>TERMS</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#licenseModal"> Privacy Policy</a>
                    </li>
                </ul>
            </div>

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
                <!-- Links -->
                <h5>CONTACT US</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">E Mail</a>
                    </li>
                    <li>
                        <a href="#">Facebook</a>
                    </li>
                    <li>
                        <a href="#">Twitter</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://www.google.com"> teampulse</a>
    </div>
</footer>