<!--suppress HtmlUnknownTarget -->
<header>
    <nav class="navbar fixed-top navbar-expand-lg bg-white darken-4 scrolling-navbar">
        <div class="container">

            <!-- Logo -->
            <a class="navbar-brand pr-3" href="#">
                <strong>MediKit</strong>
            </a>

            <!-- Expander -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content"
                    aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbar-content">
                <ul class="navbar-nav mr-auto">

                    {% set nav_links = [['#', 'Home'], ['#', 'About MediKit'], ['#', 'Services'], ['#', 'Contact']] %}

                    {% for item in nav_links %}
                        {% set href = item[0] %}
                        {% set caption = item[1] %}

                        {% if (caption == NAME) %}
                            <li class="nav-item active px-1">
                                <a class="nav-link text-dark" href="{{ href }}"><b>{{ caption }}</b>
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item px-1">
                                <a href="{{ href }}" class="nav-link text-dark">{{ caption }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>

                {% if (NAME != "Debug") %}
                    <!-- Sign In Button -->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a href="#" class="nav-link btn btn-outline-success waves-effect">
                                <i class="fas fa-user-circle"></i> &nbsp; Sign In</a>
                        </li>
                    </ul>
                {% endif %}

            </div>

        </div>
    </nav>

    <div style="height:64px;"></div>

</header>