<div class="sidebar-fixed position-fixed border-right p-2 bg-white wow fadeInLeft">
    <div class="text-center">
        <a class="logo-wrapper waves-effect p-3">
            <h1 class="font-weight-bold mb-2 wow fadeIn indigo-text" data-wow-delay="0.3s">
                MediKit
            </h1>
        </a>
    </div>

    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action waves-effect red-text" id="drawer-close">
            <strong><i class="fas fa-times mr-3"></i>Close Drawer</strong>
        </a>
        <a href="#" class="list-group-item active waves-effect rounded mb-0 z-depth-2">
            <i class="fas fa-chart-pie mr-3"></i>Dashboard
        </a>
        <a href="#" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-user mr-3"></i>Profile</a>
        <a href="#" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-table mr-3"></i>Tables</a>
        <a href="#" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-map mr-3"></i>Maps</a>
        <a href="#" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-money-bill-alt mr-3"></i>Orders</a>
    </div>

</div>