/*
-----------------------------------------------
Basic
-----------------------------------------------
 */

body {
    background-color: #0e244a;
    background-image: none;
}

.img-carousel{
    height: 100vh;
    width: 100vw;
    object-fit: cover;

}

/*
-----------------------------------------------
Services
-----------------------------------------------
 */

div.service {
    box-shadow: inherit;
}

/*
-----------------------------------------------
Features
-----------------------------------------------
 */

#doctor-image {
    background-image: url(http://www.chapelhillfamilydoctors.com.au/images/doctor-img2.png);
    background-size: cover;
}