body {
    overflow-x: hidden;
    position: relative;
}



/*
-----------------------------------------------
Custom Classes
-----------------------------------------------
 */

.full-screen {
    height: 100vh;
    width: 100vw;
}

.vertical-center {
    height: 100vh;

    display: flex;
    align-items: center;
}

.strict-full-screen {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

@media (max-width:768px) {
    .hide-on-small{
        display: none;
    }
}

.icon{
    width: 80px;
    height: 80px;
    margin: 30px;
}


/*
-----------------------------------------------
Home Page
-----------------------------------------------
 */

.home-start-bg {
    background-size: cover;
    background-attachment: fixed;
}

.home-start-sec {
    background-size: cover;
}


#doctor-image {
    background-image: url(../images/dark.png);
    /*background-size: cover;*/
    background-repeat: no-repeat;
}

.home-feature-doctor {
    display: none;
}

.home-cta-register {
    background-image: url(../images/svg/rose-petals.svg);
    background-size: cover;
    background-attachment: fixed;
}

/* Smaller than Tab */
@media (min-width:768px) {
    /* Show home page image only in large devices */
    .home-start-sec {
        background-image: url(../images/img-1.png);
        height: 100vh;
    }
}


.home-scroll-down {
    padding-top: 70px;
}

/*
-----------------------------------------------
Google Map
-----------------------------------------------
*/

.home-mapouter {
    text-align: left;
}

.home-gmap_canvas {
    overflow: hidden;
    background: none !important;
}
