/*
-----------------------------------------------
Basic
-----------------------------------------------
 */

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body{
    background: white;
}

/*
-----------------------------------------------
Preloader
-----------------------------------------------
 */

#loader {
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    display: block;
    background-color: #ffffff;
    z-index: 9999;
    text-align: center;
    opacity: 0.6;
    pointer-events: none;
}

#loader.loaded {
    visibility: hidden;
    display: none;
}

#loader > .spinner-border,
#loader > .spinner-grow {
    margin-top: 48vh;
    margin-left: 48vw;
}

/*
-----------------------------------------------
Theme Gradient
-----------------------------------------------
 */

.bg-gradient {
    background: #0e244a; /* Old Browsers */
    background: -moz-linear-gradient(45deg, #0e244a 0%, #1b386f 14%, #3f3f7c 21%, #2e4790 30%, #004797 55%, #004da5 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(45deg, #0e244a 0%, #1b386f 14%, #3f3f7c 21%, #2e4790 30%, #004797 55%, #004da5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #0e244a 0%, #1b386f 14%, #3f3f7c 21%, #2e4790 30%, #004797 55%, #004da5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #0e244a 0%, #1b386f 14%, #3f3f7c 21%, #2e4790 30%, #004797 55%, #004da5 100%); /* IE 10+ */
    background: linear-gradient(45deg, #0e244a 0%, #1b386f 14%, #3f3f7c 21%, #2e4790 30%, #004797 55%, #004da5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e244a', endColorstr='#004da5', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

/*
-----------------------------------------------
Scroll Bar
-----------------------------------------------
 */

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px #ccc
}

body::-webkit-scrollbar-thumb {
    background-color: #7f7f7f;
    outline: 1px solid #000
}

/*
-----------------------------------------------
Footer
-----------------------------------------------
*/

footer {
    -webkit-box-shadow: 0 -5px 16px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 -5px 16px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0 -5px 16px -6px rgba(0, 0, 0, 0.75);
    position: relative;
    width: 100%;
    overflow-x: hidden;
    display: block;
}

main {
    min-height: 100vh;
}

/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

/*
-----------------------------------------------
Animated Navbar
-----------------------------------------------
 */

/*
@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #FFFFFF!important;
    }
}
.navbar {
    background-color:#FFFFFFAA;
}

.top-nav-collapse {
    background-color: #FFFFFF;
}


@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #FFFFFF;
    }
}
*/