/*
-----------------------------------------------
Basic
-----------------------------------------------
 */

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body{
    background: white;
}

div{
    background-repeat: no-repeat !important;
}

/*
-----------------------------------------------
Preloader
-----------------------------------------------
 */

#loader {
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    display: block;
    background-color: #ffffff;
    z-index: 9999;
    text-align: center;
    opacity: 0.6;
    pointer-events: none;
}

#loader.loaded {
    visibility: hidden;
    display: none;
}

#loader > .spinner-border,
#loader > .spinner-grow {
    margin-top: 48vh;
    margin-left: 48vw;
}

/*
-----------------------------------------------
Theme Gradient
-----------------------------------------------
 */

.bg-gradient {
    background-size: cover;
}

/*
-----------------------------------------------
Scroll Bar
-----------------------------------------------
 */

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px #ccc
}

body::-webkit-scrollbar-thumb {
    background-color: #7f7f7f;
    outline: 1px solid #000
}

/*
-----------------------------------------------
Footer
-----------------------------------------------
*/

footer {
    -webkit-box-shadow: 0 -5px 16px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 -5px 16px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0 -5px 16px -6px rgba(0, 0, 0, 0.75);
    position: relative;
    width: 100%;
    overflow-x: hidden;
    display: block;
}

main {
    min-height: 100vh;
}

/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

/*
-----------------------------------------------
Animated Navbar
-----------------------------------------------
 */

/*
@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #FFFFFF!important;
    }
}
.navbar {
    background-color:#FFFFFFAA;
}

.top-nav-collapse {
    background-color: #FFFFFF;
}


@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #FFFFFF;
    }
}
*/