<!doctype html>
<!--suppress HtmlUnknownTarget -->

<html lang="en">
<head>
    {% include("part/header.htm.twig") %}
    {% include("part/nojs.htm.twig") %}
    <link href="{{ site }}/css/sidebar.css" rel="stylesheet">
    <title>Admin</title>
</head>
<body class="bg-white">
<header>
    {% include("part/sidebar.htm.twig") %}

    <nav class="navbar fixed-top primary-color">
        <div class="px-3 row">
            <div class="col-2">
                <i class="fas fa-bars white-text fa-2x p-2 waves-effect" id="drawer-open"></i>
            </div>
            <span class="col-10 fa-2x text-white text-left">Dashboard
            </span>
        </div>
    </nav>
</header>

<main>
    <div class="container-fluid pt-1">
        <div id="title-card" class="card wow fadeInDown">
            <div class="card-body d-sm-flex justify-content-between">
                <h4 class="mb-2 mb-sm-0 pt-1">
                    <a href="https://mdbootstrap.com/docs/jquery/" target="_blank">Home Page</a>
                    <span>/</span>
                    <span>Dashboard</span>
                </h4>
            </div>
        </div>

    </div>
</main>

{% include "part/scripts.htm.twig" %}
<script>
    $("#drawer-open").click(function (e) {
        e.preventDefault();
        $(".sidebar-fixed").animate({'marginLeft': '0'}, 200);
    });


    $("#drawer-close").click(function (e) {
        e.preventDefault();
        $(".sidebar-fixed").animate({'marginLeft': '-270px'}, 200);
    });
</script>
</body>
</html>