<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">

{% set NAME = 'LOGIN' %}

{% import 'macro/form_fields.htm.twig' as form_fields %}

<head>
    {% include "part/header.htm.twig" %}
    <title>MediKit</title>
</head>

<body>
<div class="bg-image"></div>

{% include "part/navbar.htm.twig" %}

<main class="mt-sm-5 pt-5">
    <div class="container d-flex justify-content-center">
        <section class="wow fadeIn">
            <div class="jumbotron px-4" style="max-width: 900px;">
                <h2 class="card-title h2">You are already logged in as {{ user }}</h2>
                <hr/>
                <p class="card-text">
                    You have to be logged out in order to complete this action.
                </p>

                <form method="post" action="{{ site }}/logout" class="pt-2 mt-3 text-right">
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" name="redirect" value="{{ redirect }}" hidden required readonly>
                    <button type="submit" class="btn btn-red waves-effect"><span class="fas fa-power-off ml-1"></span>
                        &nbsp;Log Out
                    </button>
                    <a href="{{ site }}" class="btn btn-outline-green waves-effect">Cancel</a>
                </form>

            </div>
        </section>

    </div>
</main>

{% include "part/footer.htm.twig" %}
{% include "part/scripts.htm.twig" %}

</body>

</html>