<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">

<head>
    {% include("part/header.htm.twig") %}
    <style>
        body{
            background-image: none;
        }
    </style>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <title>MediKit</title>
</head>

<body>
<div class="bg-image"></div>

<main>
    <div class="ct-chart ct-perfect-fourth"></div>
</main>

{% include "part/scripts.htm.twig" %}
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script>
    var data = {
        // A labels array that can contain any sort of values
        labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
        // Our series array that contains series objects or in this case series data arrays
        series: [
            [5, 2, 4, 2, 0]
        ]
    };

    // Create a new line chart object where as first parameter we pass in a selector
    // that is resolving to our chart container element. The Second parameter
    // is the actual data object.
    new Chartist.Line('.ct-chart', data);
</script>
</body>

</html>