{# Test Card #}
{% macro page_start(title) -%}
<main>
    <div class="d-flex toggled" id="wrapper">
        {% include "admin/part/sidebar.htm.twig" %}
        <div id="page-content-wrapper">
            {% include "admin/part/navbar.htm.twig" %}
        {%- endmacro %}
        {% macro page_end() -%}
        </div>
    </div>
</main>
{%- endmacro %}