<div class="modal" tabindex="-100" role="dialog" id="loading" data-backdrop="static" data-keyboard="false" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="text-center">
                <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" alt="Loading...">
                <br>
                <p class="m-3">
                    Please Wait for a moment
                </p>
            </div>
        </div>
    </div>
</div>

<script>
    /**
     * Sometimes if the ajax call returns before the modal is shown,
     * the modal might not hide.
     *
     * We have to handle that case.
     */

    let loading = false;
    let transitioningToHide = false;
    let transitioningToShow = false;

    /**
     * Show the loading modal. Safe handler.
     */
    function showModal() {
        let loadingModal = $("#loading");

        loading = true;
        if (transitioningToHide) return;
        transitioningToShow = true;
        loadingModal.on('shown.bs.modal', showCompleted);
        loadingModal.modal("show");

        function showCompleted() {
            transitioningToShow = false;
            $("#loading").off('shown.bs.modal');
            if (!loading) {
                hideModal();
            }
        }
    }

    /**
     * Hide the loading modal. Safe handler.
     */
    function hideModal() {
        let loadingModal = $("#loading");

        loading = false;
        if (transitioningToShow) return;
        transitioningToHide = true;
        loadingModal.on('hidden.bs.modal', hideCompleted);
        loadingModal.modal("hide");

        function hideCompleted() {
            transitioningToHide = false;
            $("#loading").off('hidden.bs.modal');
            if (loading) {
                showModal();
            }
        }
    }

    $(document).ajaxStart(async function () {
        showModal();
        // For some reason, sometimes body will get a right padding after showing the modal
        // We have to reset that
        $("body").css("padding-right", "0");
    });

    $(document).ajaxComplete(async function () {
        hideModal();
        $("body").css("padding-right", "0");
    });
</script>