<div class="modal fade down" id="modelCreatedAccount" tabindex="-1" role="dialog"
     aria-labelledby="ModalLabel"
     data-backdrop="true" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-notify modal-success" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <p class="heading">Account Created</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="p-2 text-center justify-content-center">
                    <i class="fas fa-user-check fa-5x"></i>
                </div>
                <div class="p-2">
                    The requested account with account id <strong>{{ requested_account_id }}</strong> was created
                    successfully.
                    The default password to that account is <strong>{{ account_password }}</strong>.
                    This password will also be emailed to the user.
                </div>

                <button type="button" class="btn btn-success waves-effect waves-light" data-dismiss="modal">OK
                </button>
            </div>
        </div>

    </div>
</div>

<script>
    $(window).on('load', function () {
        setTimeout(function () {
            $("#modelCreatedAccount").modal('show');
        }, 500);
    })
</script>
