html {
    overflow-x: unset;
}

/*
Scroll Bar Theming
 */

body::-webkit-scrollbar {
    width: 1em
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #ccc
}

body::-webkit-scrollbar-thumb {
    background-color: #BDBDBD;
    outline: 1px solid #000
}

/*
Sticky Footer
 */

html{
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 123px;
}

body{
    margin-bottom: 150px;
}