<footer class="page-footer text-center font-small mdb-color wow fadeIn">

    <hr class="my-4">
    <div class="container-fluid text-center text-md-left">

        <div class="row">

            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">MediKit</h5>
                <p>MediKit is the world most popular Health Care App for connecting the needs in medical industry.
                    Trusted by over 10 000 users. Easy to use & manage health data with all the records, prescriptions etc.</p>
            </div>

            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">TERMS</h5>
                <ul class="list-unstyled">
                    <li><a href="#!">Privacy Policy</a></li>
                </ul>

            </div>

            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Contact Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#!">Email</a></li>
                    <li><a href="#!">WhatsApp</a></li>
                    <li><a href="#!">Facebook</a></li>
                    <li><a href="#!">Twitter</a></li>
                </ul>
            </div>

        </div>

    </div>

    <hr class="my-4">
    <div class="pb-4">
        <a href="https://www.facebook.com/" target="_blank">
            <i class="fab fa-facebook-f mr-3"></i>
        </a>
        <a href="https://twitter.com/" target="_blank">
            <i class="fab fa-twitter mr-3"></i>
        </a>
        <a href="https://www.youtube.com/" target="_blank">
            <i class="fas fa-info-circle"></i>
        </a>

    </div>

    <div class="footer-copyright py-3">
        &copy; 2018 Copyright:
        <a href="#" target="_blank"> teampulse.com </a>
    </div>

</footer>