<footer class="page-footer text-center font-small blue-grey darken-4 mt-4 wow fadeIn">

    <div class="pt-4">
        <a class="btn btn-outline-white" href="" target="_blank" role="button">Create Account
        </a>
        <a class="btn btn-outline-white" href="" target="_blank" role="button">Sign In
        </a>
    </div>

    <hr class="my-4">

    <div class="pb-4">
        <a href="https://www.facebook.com/" target="_blank">
            <i class="fab fa-facebook-f mr-3"></i>
        </a>
        <a href="https://twitter.com/" target="_blank">
            <i class="fab fa-twitter mr-3"></i>
        </a>
        <a href="https://www.youtube.com/" target="_blank">
            <i class="fas fa-info-circle"></i>
        </a>

    </div>

    <div class="footer-copyright py-3">
        	&copy; 2018 Copyright:
        <a href="#" target="_blank"> teampulse.com </a>
    </div>

</footer>