<!DOCTYPE html>
<html lang="en">

{% set NAME = 'Home' %}

{% import 'form_fields.htm' as form_fields %}

<head>
    {% include "header.htm" with context %}
    <title>MediKit</title>

    <!-- Custom Page CSS -->
    <link href="css/login.css" rel="stylesheet">
</head>

<body>
<div class="bg-image"></div>

{% include "navbar.htm" %}

<main class="mt-sm-5 pt-5">
    <div class="container">
        <section class="wow fadeIn">
            <div class="row">

                <div class="border col-lg-8 text-white text-center p-5 bg-gradient">
                    <h1 class="mb-4">
                        <strong>MediKit 0.0.1 alpha</strong>
                    </h1>
                    <h4>
                        <strong>Best & free platform to mange all your medical needs</strong>
                    </h4>
                    <p class="mb-4">
                        Loved by over 500 doctors, 2000 patients & 100 medical centers.
                    </p>
                    <h3 class="mb-4">
                        <strong>Are you a Medical Center?</strong>
                    </h3>
                    <a class="btn btn-outline-white btn-lg" href="medi_center_reg.html">
                        CREATE ACCOUNT
                    </a>
                </div>

                <div class="border col-lg-4 d-flex justify-content-center bg-white">
                    <form action="" class="needs-validation p-5" method="get" novalidate>
                        <p class="h4 mb-4 text-center">SIGN IN</p>

                        {{ form_fields.input('user', 'User ID') }}
                        {{ form_fields.input('password', 'Password', 'password') }}

                        <!--<div class="justify-content-around">-->
                            <!--{{ form_fields.check_box('remember', 'Remember me') }}-->
                        <!--</div>-->

                        <button class="btn btn-primary btn-block my-4" type="submit">Sign in</button>

                    </form>
                </div>

            </div>
        </section>

    </div>
</main>

{% include "footer.htm" %}
{% include "scripts.htm" %}
<script src="js/login.js"></script>

</body>

</html>