<!DOCTYPE html>
<html lang="en">

{% set NAME = 'Home' %}

<head>
    {% include "header.htm" with context %}
    <title>MediKit</title>

    <!-- Custom Page CSS -->
    <link href="css/login.css" rel="stylesheet">
</head>

<body>
    {% include "navbar.htm" %}

    <main class="mt-sm-5 pt-5">
        <div class="container">
            <section class="wow fadeIn">
                <div class="row">

                    <div class="border col-lg-8 text-white text-center p-5" style="background-image: url(https://images.pexels.com/photos/33545/sunrise-phu-quoc-island-ocean.jpg);">
                        <h1 class="mb-4">
                            <strong>MediKit 1.0.1</strong>
                        </h1>
                        <h4>
                            <strong>Best & free platform to mange all your medical needs</strong>
                        </h4>
                        <p class="mb-4">
                            Loved by over 500 doctors, 2000 patients & 100 medical centers.
                        </p>
                        <h3 class="mb-4">
                            <strong>Are you a Medical Center?</strong>
                        </h3>
                        <a href="medi_center_reg.html" class="btn btn-outline-white btn-lg">
                            CREATE ACCOUNT
                        </a>
                    </div>

                    <div class="border col-lg-4 d-flex justify-content-center">
                        <form action="" method="get" class="needs-validation p-5" novalidate>
                            <p class="h4 mb-4 text-center">SIGN IN</p>

                            <div class="input-group mb-4">
                                <input type="text" name="user" class="form-control" placeholder="User ID"
                                    required>
                            </div>

                            <div class="input-group mb-4">
                                <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                                    required>
                            </div>

                            <div class="justify-content-around">
                                <div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="remember" name="remember">
                                        <label class="custom-control-label" for="remember">Remember me</label>
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-primary btn-block my-4" type="submit">Sign in</button>

                        </form>
                    </div>

                </div>
            </section>

        </div>
    </main>

    {% include "footer.htm" %}
    {% include "scripts.htm" %}
    <script src="js/login.js"></script>

</body>

</html>