<!DOCTYPE html>
<html lang="en">

{% set NAME = 'Home' %}


{% import 'form_fields.htm' as form_fields %}

<head>
    {% include "header.htm" with context %}
    <title>Medi Center Registration</title>
</head>

<body>
<div class="bg-image"></div>

{% include "navbar.htm" %}

<main class="mt-sm-5 pt-5">
    <div class="container">
        <section class="wow fadeIn">
            <div class="row">

                <div class="border col-lg-4 text-white text-center p-5 bg-gradient">
                    <h1 class="mb-5">
                        <strong>MediKit 0.0.1 alpha</strong>
                    </h1>
                    <h4 class="mb-5">
                        <strong>Best & free platform to mange all your medical needs</strong>
                    </h4>
                    <p class="mb-5">
                        Loved by over 500 doctors, 2000 patients & 100 medical centers.
                    </p>
                    <h3 class="mb-5">
                        <strong>Already has an account?</strong>
                    </h3>
                    <a class="btn btn-outline-white btn-lg" href="index.html">
                        SIGN IN
                    </a>
                </div>


                <div class="border border-light col-lg-8 p-0 m-0">
                    <form action="" class="m-0 p-5 bg-white needs-validation" method="get" novalidate>
                        <p class="text-center h4 mb-5">MEDICAL CENTER REGISTRATION</p>

                        {{ form_fields.input_with_label('name', 'Name', 'Medical Center Name', 'text') }}
                        {{ form_fields.input_with_label('phsrc', 'Reg ID', 'PHSRC Reg ID', 'text') }}
                        {{ form_fields.input_with_label('email', 'Email', 'Email', 'email') }}
                        {{ form_fields.input_with_label('fax', 'Fax', 'Fax Number (Optional)', 'fax', required='') }}
                        {{ form_fields.input_with_label('phone', 'Phone', 'Phone Number', 'tel') }}
                        {{ form_fields.input_with_label('address1', 'Address', 'Address', 'text') }}
                        {{ form_fields.input_with_label('postal', 'Postal Code', 'Postal Code', 'text') }}

                       <div class="text-right">
                           <button class="btn btn-primary my-4" type="submit">Submit</button>
                       </div>
                    </form>
                </div>

            </div>
        </section>

    </div>
</main>

{% include "footer.htm" %}
{% include "scripts.htm" %}

</body>

</html>