<!DOCTYPE html>
<html lang="en">

{% set NAME = 'Home' %}

<head>
    {% include "header.htm" with context %}
    <title>Medi Center Registration</title>

    <!-- Custom Page CSS -->
    <link href="css/login.css" rel="stylesheet">
</head>

<body>
    {% include "navbar.htm" %}

    <main class="mt-sm-5 pt-5">
        <div class="container" >
            <section class="wow fadeIn">
                <div class="row">

                    <div class="border col-lg-4 text-white text-center p-5"style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
                        <h1 class="mb-5">
                            <strong>MediKit 1.0.1</strong>
                        </h1>
                        <h4 class="mb-5">
                            <strong>Best & free platform to mange all your medical needs</strong>
                        </h4>
                        <p class="mb-5">
                            Loved by over 500 doctors, 2000 patients & 100 medical centers.
                        </p>
                        <h3 class="mb-5">
                            <strong>Already has an account?</strong>
                        </h3>
                        <a href="index.html" class="btn btn-outline-white btn-lg">
                            SIGN IN
                        </a>
                    </div>


                    <div class="col-lg-8">
                        <form class=" border border-light p-5">
                            <p class="text-center h4 mb-5">Medical Center Registration</p>

                            <div class="form-group row">
                                <label for="mediCentername" class="col-lg-3 col-form-label">Name</label>
                                <div class="col-lg-9 mb-1">
                                    <input type="text" class="form-control" id="mediCentername" placeholder="Enter Medical Center Name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="regID" class="col-lg-3 col-form-label">Reg ID</label>
                                <div class="col-lg-9 mb-1">
                                    <input type="text" id="regID" class="form-control" placeholder="PHSRC Reg ID">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email" class="col-lg-3 col-form-label">Email</label>
                                <div class="col-lg-9 mb-1">
                                    <input type="email" id="email" class="form-control" placeholder="Email">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="fax" class="col-lg-3 col-form-label">Fax</label>
                                <div class="col-lg-9 mb-1">
                                    <input type="tel" id="fax" class="form-control" placeholder="Enter Fax Number">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="phone" class="col-lg-3 col-form-label">Phone</label>
                                <div class="col-lg-9 mb-1">
                                    <input type="tel" class="form-control" id="phone" placeholder="Enter Phone Number">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="address1" class="col-lg-3 col-form-label">Address Line 1</label>
                                <div class="col-lg-9 mb-1">
                                    <input type="text" class="form-control" id="address1" placeholder="Address No, Street 1">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="address2" class="col-lg-3 col-form-label">Address Line 2</label>
                                <div class="col-lg-9 mb-1">
                                    <input type="text" id="address2" class="form-control" placeholder="Street 2">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="city" class="col-lg-3 col-form-label">City</label>
                                <div class="col-lg-9 mb-1">
                                    <input type="text" class="form-control" id="city" placeholder="City">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="postalCode" class="col-lg-3 col-form-label">Postal Code</label>
                                <div class="col-lg-9 mb-1">
                                    <input type="text" id="postalCode" class="form-control" placeholder="Postal Code">
                                </div>
                            </div>


                    </div class>

                </div>
            </section>

            <section class="pt-5">

                <div class="wow fadeIn">
                    <h2 class="h1 text-center mb-5">What is MediKit?</h2>
                    <p class="text-center">MediKit is the world most popular Health Care App for connecting the needs
                        in medical industry. </p>
                    <p class="text-center mb-5 pb-5">Trusted by over
                        <strong>10 000</strong> users. Easy to use & manage health data with all the records,
                        prescriptions etc.</p>
                </div>

            </section>

        </div>
    </main>

    {% include "footer.htm" %}
    {% include "scripts.htm" %}
    <script src="js/login.js"></script>

</body>

</html>