<div class="bg-dark" id="sidebar-wrapper">
    <div class="sidebar-heading text-white">Start Bootstrap</div>
    <div class="list-group">
        <a href="#" class="list-group-item bg-dark text-white">Dashboard</a>
        <a href="#" class="list-group-item bg-dark text-white">Shortcuts</a>
        <a href="#" class="list-group-item bg-dark text-white">Overview</a>
        <a href="#" class="list-group-item bg-dark text-white">Events</a>
        <a href="#" class="list-group-item bg-dark text-white">Profile</a>
        <a href="#" class="list-group-item bg-dark text-white">Status</a>
    </div>
</div>